header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

footer {
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;
    justify-content: end;
}

.header-logo {
    margin: 30px 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.box {
    --size: 25px;
    --R: calc(var(--size) * 1.28);
}

.box.mask {
    -webkit-mask: radial-gradient(var(--R) at 50% calc(1.8 * var(--size)), #000 99%, #0000 101%) calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-.8 * var(--size)), #0000 99%, #000 101%) 50% var(--size)/calc(4 * var(--size)) 100% repeat-x;
    background: rgb(255, 182, 95);
    border: none;
}

main {
    padding: 0 300px;
}

input::placeholder {
    color: white;
    opacity: 1;
}

section {
    margin: 35px 0;
}

h2, h3 {
    color: rgb(72, 102, 131);
}

.text-muted{
    opacity: 0.6;

}
span{
    font-size: 16px;
}
p{

}

h1{
    font-size: 32px;
}